/* ==========================================================================
Variables
========================================================================== */

$font-family-header: 'Roboto', 'san-serif';
$font-family-copy: 'Open Sans', 'sans-serif';

// @include font-family-header(700);
@mixin font-family-header($weight) {
    font-family: $font-family-header;
    font-weight: $weight;
}

// @include font-family-copy(400);
@mixin font-family-copy($weight) {
    font-family: $font-family-copy;
    font-weight: $weight;
}

$text-color: #999 !default;
$link-color: #666 !default;
$link-color-hover: #333 !default;
$link-color-active: #333 !default;
$link-color-focus: #333 !default;

$link-color-darken: darken($link-color-hover, 15%);

/**
 * Colours
 */

$text-color-1: #202020;  
$text-color-2: #494949; 
$text-color-3: #838383;
$text-color-3: #c4c7d0;;
 
/**
 * Backgrounds
 */

$background-1: #948b8c;
$background-2: #a4aaba;
$background-3: #cfcecc;
$background-4: #d7dce2;
$background-5: #eff0f4;

/**
 * Breakpoints
 */

$screen-xs-min: 480px !default;
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;

$S:     480px;   
$M:     768px;  
$L:     992px;   
$XL:   1200px;    

// Cubic
$easeInCubic    : cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeOutCubic   : cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeInOutCubic : cubic-bezier(0.645, 0.045, 0.355, 1.000);

// Circ
$easeInCirc     : cubic-bezier(0.600, 0.040, 0.980, 0.335);
$easeOutCirc    : cubic-bezier(0.075, 0.820, 0.165, 1.000);
$easeInOutCirc  : cubic-bezier(0.785, 0.135, 0.150, 0.860);

// Expo
$easeInExpo     : cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeOutExpo    : cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeInOutExpo  : cubic-bezier(1.000, 0.000, 0.000, 1.000);

// Quad
$easeInQuad     : cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeOutQuad    : cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeInOutQuad  : cubic-bezier(0.455, 0.030, 0.515, 0.955);

// Quart
$easeInQuart    : cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeOutQuart   : cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeInOutQuart : cubic-bezier(0.770, 0.000, 0.175, 1.000);

// Quint
$easeInQuint    : cubic-bezier(0.755, 0.050, 0.855, 0.060);
$easeOutQuint   : cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeInOutQuint : cubic-bezier(0.860, 0.000, 0.070, 1.000);

// Sine
$easeInSine     : cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeOutSine    : cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeInOutSine  : cubic-bezier(0.445, 0.050, 0.550, 0.950);

// Back
$easeInBack     : cubic-bezier(0.600, -0.280, 0.735, 0.045);
$easeOutBack    : cubic-bezier(0.175,  0.885, 0.320, 1.275);
$easeInOutBack  : cubic-bezier(0.680, -0.550, 0.265, 1.550);
